*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    background-image: url('../img/beck.jpg') ;
    justify-content: center;
    height: 100vh;
}
.todo{
    display: flex;
    width: 40%;
    flex-direction: column;
    justify-content: center;
}

.form{
    flex-wrap: nowrap;
    display: flex;
}

.form__input{
    width: 60%;
    background-color: rgba(255,255,255,0);
    border-radius: 10px 0 0 10px;
}

.form__btn{
    width: 39%;
    border-radius: 0 10px 10px 0;
}


