*{
    margin: 0;
    padding: 0;
}

.counter-conteiner{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.couter-value{
    width: 100%;
    display: flex;
    justify-content: center;
}

.counter-mod{
    font-size: 18px;
    margin-top: 20px;
    font-weight: bold;
}

.counter-button{
    font-size: 17px;
    font-weight: bold;
    padding: 4px ;
    margin: 10px 5px 0 5px;
    border-radius: 7px;
    background-color: #00c5ff;
}

.counter-button-mod{
    background-color: #ff0000;
}

.counter-button-clear{
    background-color: #f8ff00;
}